<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon-32x32.png' %}">
<!--  <img src="{% static 'favicon.ico' %}" >-->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans">
</head>

<body>
  <div class="navbar">
    <div class="container">
      <div class="logo_div">
        <a href="/"><img src="{% static 'logo.png' %}" alt="" class="logo"></a>
      </div>
      <div class="navbar_links">
        <ul class="menu">
          <li><a href="{% url 'video_list' %}">Home</a></li>
          <li><a href="{% url 'dash' %}">DASH</a></li>
          <li><a href="{% url 'hls' %}">HLS</a></li>
          <li><a href="{% url 'upload' %}">Upload</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div style='height: 20px; width: 100%'></div>
<!--        <script src="hls.js"></script>-->
<!--  <script src="{% static 'hls.js' %}"></script>-->

        <center>
          <h2 class='headname'>{{ video_title }} | Streaming over Dash</h2>
          <video height="600" id="videoPlayer" autoplay loop muted controls></video>
          <script src="{% static 'dash.all.min.js' %}"></script>

<!--  <video src="http://console.minio.mk8snode4.hhii.ampere/vpp-dst/Ampere_AIC_1080p/h265/Ampere_AIC_1080p_360p.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=woxOfTCxmAgetUnF2l5D%2F20230606%2F%2Fs3%2Faws4_request&X-Amz-Date=20230606T003059Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=f7ffb2e7512c61f8810de93f693a72d00c7e8361a66ca300d6d4e1d93cd83cf4" controls></video>-->


<script>
            (function(){
                var url = "http://vod.mk8snode4.hhii.ampere/dash/{{ video_title }}_,240p.mp4,360p.mp4,480p.mp4,720p.mp4,1080p.mp4,.en_US.vtt,.urlset/manifest.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer"), url, true);
            })();
        </script>
          </center>  <br>
</body>

</html>