<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon-32x32.png' %}">
<!--  <img src="{% static 'favicon.ico' %}" >-->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans">
  <style>
    .desc {
      padding: 15px;
      text-align: center;
      font-family: Calibri, 'Droid Sans', 'sans-serif';
    }
  </style>
</head>

<body>
  <div class="navbar">
    <div class="container">
      <div class="logo_div">
        <a href="/"><img src="{% static 'logo.png' %}" alt="" class="logo"></a>
      </div>
      <div class="navbar_links">
        <ul class="menu">
          <li><a href="{% url 'video_list' %}">Home</a></li>
          <li><a href="{% url 'dash' %}">DASH</a></li>
          <li><a href="{% url 'hls' %}">HLS</a></li>
          <li><a href="{% url 'upload' %}">Upload</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div style='height: 20px; width: 100%'></div>
<!--        <script src="hls.js"></script>-->
<!--  <script src="{% static 'hls.js' %}"></script>-->

        <center>
          <h2 class='headname'>{{ description }} | Streaming over Dash</h2>
          <video height="600" id="videoPlayer" autoplay loop muted controls></video>
          <script src="{% static 'dash.all.min.js' %}"></script>
          <div class="desc">{{ video_title }}</div>

        <script>
            (function(){
                var url = "http://vod.microk8s.hhii.ampere/dash/{{ video_title }}_,240p.mp4,360p.mp4,480p.mp4,720p.mp4,1080p.mp4,.en_US.vtt,.urlset/manifest.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer"), url, true);
            })();
        </script>
        </center>  <br>
</body>

</html>
